//Colors

//Primary

$color-primary-50: #EFF6FF;
$color-primary-100: #DBEAFE;
$color-primary-200: #BFDBFE;
$color-primary-300: #93C5FD;
$color-primary-400: #60A5FA;
$color-primary-500: #3B82F6;
$color-primary-600: #2563EB;
$color-primary-700: #1D4ED8;
$color-primary-800: #1E40AF;
$color-primary-900: #1E3A8A;

//Secondary

//Glamour Pink

$color-secondary-glamour-pink-50: #FDF2F8;
$color-secondary-glamour-pink-100: #FCE7F3;
$color-secondary-glamour-pink-200: #FBCFE8;
$color-secondary-glamour-pink-300: #F9A8D4;
$color-secondary-glamour-pink-400: #F472B6;
$color-secondary-glamour-pink-500: #EC4899;

//Amber

$color-secondary-amber-50: #FFFBEB;
$color-secondary-amber-100: #FEF3C7;
$color-secondary-amber-200: #FDE68A;
$color-secondary-amber-300: #FCD34D;
$color-secondary-amber-400: #FBBF24;
$color-secondary-amber-500: #F6A723;

//Algal Fuel

$color-secondary-algal-fuel-50: #F0FDF4;
$color-secondary-algal-fuel-100: #DCFCE7;
$color-secondary-algal-fuel-200: #BBF7D0;
$color-secondary-algal-fuel-300: #86EFAC;
$color-secondary-algal-fuel-400: #4ADE80;
$color-secondary-algal-fuel-500: #24D164;

//Greyscale

$color-greyscale-50: #F8FAFC;
$color-greyscale-100: #F1F5F9;
$color-greyscale-200: #E2E8F0;
$color-greyscale-300: #CBD5E1;
$color-greyscale-400: #94A3B8;
$color-greyscale-500: #64748B;
$color-greyscale-600: #475569;
$color-greyscale-700: #334155;
$color-greyscale-800: #1E293B;
$color-greyscale-900: #0F172A;

//Additional

$color-emerald: #F8FAFC;
$color-purple: #8B5CF6;
$color-sky: #38BDF8;
$color-indigo: #6366F1;
$color-white: #FFF;

